@model CreateShortenedUrlModel
@using SimpleShort.Models

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleShort</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/hamburger.css">
    <link rel="stylesheet" href="~/css/form.css">
    <link rel="stylesheet" href="~/css/fonts/font-imports.css">
</head>
<body>
    <div class="container">
        <div class="header-container">
            <header>
                <div id="brand-wrapper">
                    <img src="img/logo-icon-1.png" alt="" class="no-select">
                    <h1 class=""><span class="highlight">simple</span>short</h1>
                </div>

                <nav id="nav-wrapper">
                    <ul>
                        <li class="current"><a href="/" class="no-select active"><i class="fa fa-home nav-icon"></i>Home</a></li>
                        <li><a href="#" class="no-select"><i class="fa fa-info nav-icon"></i>Dashboard</a></li>
                        <li><a href="#" class="no-select"><i class="fa fa-pencil nav-icon"></i>Community</a></li>
                        <li><a href="#" class="no-select"><i class="fa fa-envelope nav-icon"></i>Support</a></li>
                        @* <li> *@
                        @*     <a href="#" class="nav-btn-container"> *@
                        @*         <img src="img/search-icon.svg" alt="Search" class="search-btn no-select"> *@
                        @*         <img src="img/close-icon.svg" alt="Close the search bar" class="close-btn no-select"> *@
                        @*     </a> *@
                        @*     <div class="search-box"> *@
                        @*         <input type="text" placeholder="Search here..." class="search-input"> *@
                        @*     </div> *@
                        @* </li> *@
                    </ul>
                </nav>

                <div class="menu-toggle">
                    <div class="hamburger"></div>
                </div>
            </header>
        </div>

        <div class="content-container">
            <h1>Get Started</h1>
            <p>Thank you for choosing <span class="brand"><span class="highlight">simple</span>short</span>.</p>
            <p>To begin, please press the button below.</p>
            <div class="wrapper">
                <span onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="cta" href="">
                    <span class="no-select">SHORTEN &nbsp; URL</span>
                    <span>
                        <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <path class="one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                                <path class="two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                                <path class="three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
                            </g>
                        </svg>
                    </span>
                </span>
                <p>@ViewBag.CreateMessage</p>
            </div>
        </div>

        <div id="id01" class="modal animate-opacity">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "modal-content animate-zoom" }))
            {
                <div class="modal-container">
                    <h1>Shorten URL</h1>
                    <p>Please fill in this form to continue.</p>
                    <hr>
                    <div class="default">
                        <label for="url"><b>Full (Unshortened) URL</b></label>
                        @Html.TextBoxFor(m => m.OriginalUrl, new { id = "url", @name = "full url", @placeholder = "e.g. https://www.example.com/ex/search?q=example+website%27s%20long%20url/", @type = "text", @required = "true" })
                        @* <input id="url" name="full url" placeholder="e.g. https://www.example.com/ex/search?q=example+website%27s%20long%20url/" type="text" data-lpignore="true" required> *@
                    </div>

                    <label><b>Shortened URL Name</b></label>
                    <div id="pre-text">
                        <label for="short_name">https://www.simpleshort.com/</label>
                        @Html.TextBoxFor(m => m.Path, new { id = "short_name", @name = "short name", @placeholder = "name", @type = "text" })
                        @* <input id="short_name" name="short name" placeholder="name" type="text" data-lpignore="true" required> *@
                    </div>

                    <div class="default" style="margin-bottom: 30px;">
                        <label for="expire"><b>URL Expiration:</b></label>
                        @Html.TextBoxFor(m => m.Expiration, new { id = "expire", @type = "date", @value = "@createModel.Expiration", @name = "expiration", @required = "true" })
                        @* <input id="expire" type="date" name="expiration" required> *@
                    </div>

                    <h1 class="result_title" style="display: inline;">Shortened URL:</h1>
                    <h4 class="result" id="result_url" style="display: inline; position: relative; min-width: 500px; font: 18px Arial, Helvetica, sans-serif; background: #f1f1f1; padding: 15px 10px 15px 10px;">https://www.simpleshort.com/</h4>

                    <div class="clearfix" style="margin-top: 30px;">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                        <button type="submit" class="signupbtn">SHORTEN URL</button>
                    </div>
                </div>
            }
        </div>

        <div class="footer-container">
            <div id="columns">
                <div class="subscribe">
                    <span><label for="sub">Stay Connected</label></span>
                    <p>
                        Join 10,000+ people who receive weekly updates from
                        <span><span class="highlight">simple</span>short</span>.
                    </p>
                    <div class="input">
                        <input type="text" id="sub" placeholder="Email Address" class="no-select">
                        <button class="no-select"><span>Sign-Up </span></button>
                    </div>
                </div>

                <div class="col">
                    <img src="">
                    <h2><a href="#" class="no-select">Application</a></h2>
                    <a href="#" class="no-select">Features</a>
                    <a href="#" class="no-select">Live share</a>
                    <a href="#" class="no-select">Video record</a>
                </div>
                <div class="col">
                    <img src="">
                    <h2><a href="#" class="no-select">Community</a></h2>
                    <a href="#" class="no-select">Featured artists</a>
                    <a href="#" class="no-select">The Portal</a>
                    <a href="#" class="no-select">Live events</a>
                </div>
                <div class="col">
                    <img src="">
                    <h2><a href="#" class="no-select">Company</a></h2>
                    <a href="#" class="no-select">About us</a>
                    <a href="#" class="no-select">Contact us</a>
                    <a href="#" class="no-select">History</a>
                </div>
            </div>

            <footer>
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Sitemap</a></p>
                <p class="no-select">&copy; 2020 SimpleShort</p>
            </footer>
        </div>
    </div>
    <script type="text/javascript" src="~/lib/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
</body>
</html>